<!DOCTYPE html>
<html lang="en">
<head>
<title>Upload/Download de Arquivos.</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/uploaddownloadfiles.js"></script>
<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<!-- Estou Iniciando aqui com outro bootstrap -->


<!-- busca -->
<div class="s">
<div class="row justify-content-center wrapper" >
	<div class="col-sm-10 my-auto">
		<div class="card-group myShadow">
			<div class="card rounded-left p-4" style="flex-grow:1.4">
				<h2 class="text font-weight-bold">Busca de informações no DB.</h2>
				<hr class="my-3">
				<form id="a" action="/search" method="get">
				<div class="input-group input-group-lg form-group">
				<div class="input-group-prepend">
				<span class="input-group-text rounded-0">
				
				<!-- <label class="control-label" for="uploadfile">Escolha um Arquivo:</label> -->
				<input type="text" class="form-control" placeholder="" name="searchinput"></input></div>
			<button type="submit" class="btn btn-danger" id="btnSearchSubmit" value="Search">Buscar</button>
		</form>
	</span>
</div>

<!-- final da busca -->

   





<div class="container">
<div class="row justify-content-center wrapper" >
	<div class="col-sm-10 my-auto">
		
		<div class="card-group myShadow">
			<div class="card rounded-left p-4" style="flex-grow:1.4">
				<h2 class="text font-weight-bold">Upload Único de Arquivos</h2>
				<hr class="my-3">

				<form id="uploadSingleFileForm">
				<div class="input-group input-group-lg form-group">
				<div class="input-group-prepend">
				<span class="input-group-text rounded-0">
				
				<label class="control-label" for="uploadfile">Arquivo:</label>
				<input type="file" class="form-control" placeholder="Choose a upload file" name="file" required></input></div>
			<button type="submit" class="btn btn-danger" id="btnUploadSingleFileSubmit">Enviar</button>
		</form>
	</span>
</div>
			<h2 class="text font-weight-bold text-dark">Carregar vários arquivos</h2>

			<form id="uploadMultipleFilesForm">
			<div class="input-group input-group-lg form-group">
			<div class="input-group-prepend">
			<span class="input-group-text rounded-0">
			
			<label class="control-label" for="uploadfiles">Arquivos:</label>
		<input type="file" class="form-control" placeholder="Choose upload files" name="files"multiple required></input></div>
			<button type="submit" class="btn btn-danger" id="btnUploadMultipleFilesSubmit">Enviar</button>
		</form>
	</span>
</div>


				<div id="response" style="display:none">
				</div>
			</div>
		</div>
		<hr>		
		<div class="row">
			<div class="col" style="background-color:#e6fffa; padding:10px; border-radius:3px">© Copyright Fernando Amaral .
				</form>
				<div id="responses" style="display:none">
				</div>
			</div>
		</div>
		<hr>
		<!-- Baixando do dados direto do Mysql -->
		<div id="downloadfiles" class="row">
			<div class="col-sm-7">
				<a href="/api/file" class="btn btn-dark" role="button">Baixar Arquivos .xlsx</a>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js"></script>
</body>
</html>